html, body {
    height: 100%;
    background-color: #000000;
}

body {
    color: #d3d3d3
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.pwned-container {
    height: 100%;
}

.text_center {
    text-align: center;
}

.pwned-form-container {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 768px) {
    .pwned-website-logo {
        max-height: 70px !important;
        width: auto !important;
        margin-bottom: 20px;
    }
}

