{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-xs-12">
            <h2>About Pwned Credentials</h2>
            <p>
                This website has been built as an open source project aimed to provide users necessary information
                regarding data breaches. It utilizes the
                <a href="https://haveibeenpwned.com/API/v3" target="_blank" alt="API link">APIs</a> provided by
                <a href="https://haveibeenpwned.com/" target="_blank">haveibeenpwned.com</a>.
            </p>
            <p>
                Please refer <a href="https://haveibeenpwned.com/About" target="_blank">here</a> for
                further details. <br>
                <strong>Source Code</strong>:
                <a href="https://github.com/shubhamcr/pwned_credentials" target="_blank">
                    https://github.com/shubhamcr/pwned_credentials
                </a>
            </p>
        </div>
    </div>
</div>

{% endblock %}